<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

	<nav class="sidebar-nav">
			<div class="sidebar-item">
				<h3 class="masthead-title masthead-title__sidebar">
					<a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
					<small>{{ site.tagline }}</small>
				</h3>
				{%- if page.path contains 'index' -%}
				<h4>Home</h4>
				{%- else -%}
				<h4>{{ page.title }}</h4>
				{%- endif -%}
				{%- if page.path contains '_posts' -%}
				<sub>Table of Contents</sub>
				{%- endif -%}
			</div>
			<div id="table-of-contents" class="sidebar-nav__toc">
				{% toc %}
			</div>
		<a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

		{% comment %}
		The code below dynamically generates a sidebar nav of pages with
		`layout: page` in the front-matter. See readme for usage.
		{% endcomment %}

		{% assign pages_list = site.pages | sort:"url" %}
		{% for node in pages_list %}
		{% if node.title != null %}
		{% if node.layout == "page" %}
		<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{
			node.title }}</a>
		{% endif %}
		{% endif %}
		{% endfor %}

		<a class="sidebar-nav-item" href="https://github.com/{{ site.github_username }}" target="_blank">GitHub project</a>
		<span class="sidebar-nav-item"></span>
	</nav>

	<div class="sidebar-item sidebar-item__footer">
		<sub>
			&copy; {{ site.time | date: '%Y' }}. All rights reserved.
			<br>
			Currently v{{ site.version }}
		</sub>
				<div class="social-links">
					{%- include social.html -%}
				</div>
	</div>
</div>