<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

	<nav class="sidebar-nav">
    <div class="sidebar-item">
      <h3 class="masthead-title masthead-title__sidebar">
        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
      </h3>
    </div>
    <div class="sidebar-item__main-nav">
      <p class="sidebar-nav__toc-title">Main Nav</p>
      
      <!-- Main Navigation -->
      <div class="doc-posts-list">
        {% assign current_collection = page.collection %}
        {% assign current_dir = page.dir %}
        
        <!-- Show all base pages -->
        {% for collection in site.collections %}

        {% if collection.label != 'posts' && page.url == doc.url %}
          {% for doc in collection.docs %}
            {% if doc.path contains 'index.md' %}
              <li class="sidebar-nav-item{% if page.url == doc.url %} active{% endif %}">
                <a href="{{ doc.url | relative_url }}">{{ doc.title }}</a>
              </li>
            {% else %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
        
      <!-- Show subpages only if on a base page or subpage -->
      {% if current_dir and current_dir != '/' %}
      <ul class="subpage-list">
        {% assign parent_dir = current_dir | remove: '/' %}
        {% for subpage in site.docs %}
          {% if subpage.dir contains parent_dir %}
            <li class="sidebar-nav-item{% if page.url == subpage.url %} active{% endif %}">
              <a href="{{ subpage.url | relative_url }}">{{ subpage.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      
      </div>
    </div>
    
    {% if page.path contains '_docs' %}
    <div id="table-of-contents" class="sidebar-nav__toc">
      <p class="sidebar-nav__toc-title">TABLE OF CONTENTS</p>
      {% toc %}
    </div>
    {% endif %}
  </nav>
  
	<pre>
		<span>{{ current_collection }}</span>
	</pre>

	<div class="sidebar-item sidebar-item__footer">
		<sub>
			&copy; {{ site.time | date: '%Y' }}. All rights reserved.
			<br>
			Currently v{{ site.version }}
		</sub>
		<div class="social-links">
			{%- include social.html -%}
		</div>
	</div>
</div>