<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

	<nav class="sidebar-nav">
		<div class="sidebar-item">
			<h3 class="masthead-title masthead-title__sidebar">
				<a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
				<small>{{ site.tagline }}</small>
			</h3>
			<!-- {%- if page.path contains 'index' -%}
			<sub class="sidebar-nav__page-title">Home</sub>
			{%- else -%}
			<sub class="sidebar-nav__page-title">{{ page.title }}</sub>
			{%- endif -%} -->
		</div>
		<div class="sidebar-item__main-nav">
			<p class="sidebar-nav__toc-title">Main Nav</p>
			{% comment %}
			The code below dynamically generates a sidebar nav of pages with
			`layout: page` in the front-matter. See readme for usage.
			{% endcomment %}

			{% assign pages_list = site.posts | sort %}
			<div class="doc-posts-list">
			{% for node in pages_list %}
			{% if group == null or group == node.group %}
				{% if node.hidden != true %}
					{% if page.url == node.url %}
					<li class="sidebar-nav-item active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
					{% else %}
					<li><a class="sidebar-nav-item" href="{{node.url}}">{{node.title}}</a></li>
					{% endif %}
				{% endif %}
			{% endif %}
			{% endfor %}
			{% assign pages_list = nil %}
			{% assign group = nil %}
			
			{% assign pages_list = site.pages | sort:"url" %}
			{% for node in pages_list %}
			{% if node.title != null %}
			{% if node.layout == "page" %}
			<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
				href="{{ node.url | absolute_url }}">{{
				node.title }}</a>
			{% endif %}
			{% endif %}
			{% endfor %}
			</div>
			

		</div>
		{%- if page.path contains '_posts' -%}
		<div id="table-of-contents" class="sidebar-nav__toc">

			<p class="sidebar-nav__toc-title">TABLE OF CONTENTS</p>

			{% toc %}
		</div>
		{%- endif -%}
	</nav>

	<div class="sidebar-item sidebar-item__footer">
		<sub>
			&copy; {{ site.time | date: '%Y' }}. All rights reserved.
			<br>
			Currently v{{ site.version }}
		</sub>
		<div class="social-links">
			{%- include social.html -%}
		</div>
	</div>
</div>