// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import "minima/poole";
@import "minima/syntax";
@import "minima/lanyon";

/* Black Theme */
body {
	color: $dm-text-color;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.theme-base-0g .sidebar,
.theme-base-0g .sidebar-toggle:active,
.theme-base-0g #sidebar-checkbox:checked ~ .sidebar-toggle {
	background-color: $sidebar-background-color;
}
.theme-base-0g .container a,
.theme-base-0g .sidebar-toggle,
.theme-base-0g .related-posts li a:hover {
	color: $link-base-color;
}

.masthead {
	border-top: 2px solid $border-color-01;
	@media screen and (min-width: 1000px) {
		border-bottom: none;
		padding-top: 0;
		padding-bottom: 0;
	}
	@include media-query($on-large) {
		padding-top: 1rem;
		padding-bottom: 1rem;
				border-bottom: 2px solid $border-color-01;
	}
}

.masthead-title {
	text-align: left;
	&:not(.masthead-title__sidebar) {
	display: none;
	@media screen and (max-width: 1000px) {
		display: block;
		text-align: center;
	} 
}
}

.container {
	margin-left: 6rem;
	@include media-query($on-medium) {
		margin-left: auto;
	}
}
/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
	color: #fff;
}
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 1000px) {
		border-top: 2px solid $border-color-01;
	}
}
.sidebar-nav-item {
	padding-top: 0;
	padding-bottom: 0;
	> a {
		line-height: 3em;
		white-space: nowrap;
	}
}
a.sidebar-nav-item,
span.sidebar-nav-item {
	line-height: 3em;
}
#sidebar-checkbox:checked ~ .sidebar {
	transform: translateX(14rem);
	@include media-query($on-large) {
		// transform: unset;
	}
}
#sidebar-checkbox:checked ~ .wrap {
	@include media-query($on-large) {
		transform: unset;
	}
}
.sidebar-toggle {
	@include media-query($on-palm) {
		// display: none;
	}
}

h4 {
	text-transform: uppercase;
}
ul {
	&.inline {
		list-style: none;
		display: inline-flex;
		> li {
			margin-right: 1em;
		}
	}
}

.post-list {
	> li {
		border-bottom: 1px solid $border-color-01;
	}
	.post-meta {
		margin-bottom: 30px;
	}
}

// post pages

.post-header {
	border-bottom: 1px solid $border-color-01;
}

// TOC
.section-nav {
	margin-left: 0;
	@include media-query($on-large) {
		margin-left: initial;
	}
	& ul,
	ul {
		margin-left: 0;
	}
}
