// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import 'minima/poole';
@import 'minima/syntax';
@import 'minima/lanyon';

/* Black Theme */
body {
	color: $dm-text-color;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.theme-base-0g .sidebar,
.theme-base-0g .sidebar-toggle:active,
.theme-base-0g #sidebar-checkbox:checked ~ .sidebar-toggle {
	background-color: $sidebar-background-color;
}
.theme-base-0g .container a,
.theme-base-0g .sidebar-toggle,
.theme-base-0g .related-posts li a:hover {
	color: $link-base-color;
}
.sidebar-toggle {
	top: 1rem;
	left: 10px;
	z-index: 9;
	position: fixed;
}
pre {
	background-color: $border-color-02;
}
.masthead {
	border-top: 2px solid $border-color-01;
	@include media-query($on-palm) {
		position: fixed;
		width: 100%;
		background-color: $subtitle-bk-color;
	}
	@media screen and (min-width: 1000px) {
		display: flex;
		justify-content: space-between;
		max-width: 75vw;
		width: 100%;
		border-bottom: none;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 1rem;
		margin-left: 1rem;
	}
	@include media-query($on-large) {
		display: flex;
		border-bottom: 2px solid $border-color-01;
	}
	.container {
		padding: 0.25rem 1rem 0.25rem 4rem;
		margin-left: 0;
	}
	@media (min-width: 38em) {
		.container {
			padding: 0.25rem 1rem 0.25rem 4rem;
		}
	}
	@media (min-width: 56em) {
		.container {
			padding: 1rem 1rem 1rem 3rem;
		}
	}
}
.edit {
	display: none;
	@media screen and (min-width: 1000px) {
		position: absolute;
		display: block;
		right: 0;
		top: 0;
		padding: 1rem;
	}
}
.masthead-title {
	text-align: left;
	&:not(.masthead-title__sidebar) {
		@media screen and (max-width: 1000px) {
			display: block;
			margin-left: 1rem;
		}
	}
}

.container {
	&.content {
		@include media-query($on-medium) {
			margin-top: 6rem;
			margin-left: auto;
		}
	}
}
.content {
	&.container {
		max-width: unset;
		// max-width: 28rem;
	}
	@media (min-width: 38em) {
		&.container {
			max-width: unset;
			margin-left: 4rem;

		}
	}
	@media (min-width: 56em) {
		&.container {
			max-width: unset;
		}
	}
}
.post-content > *:not(.highlighter-rouge) {
	max-width: 28rem;
}
@media (min-width: 38em) {
	.post-content > *:not(.highlighter-rouge) {
		max-width: 32rem;
	}
}
@media (min-width: 56em) {
	.post-content > *:not(.highlighter-rouge) {
		max-width: 34rem;
	}
	.post-content .highlighter-rouge {
		max-width: 48rem;
	}
}
/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
	color: #fff;
}
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 1000px) {
		border-top: 2px solid $border-color-01;
	}
}
.doc-posts-list {
	list-style: none;
	.sidebar-nav-item {
		color: $lm-brand-color;
		padding-left: 2rem;
		&.active {
			background-color: $subtitle-bk-color;
		}
	}
}
.sidebar-nav__page-title,
.sidebar-nav__toc-title {
	color: $lm-brand-color;
}
.sidebar-nav__toc-title {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	line-height: 3;
	margin-bottom: 0;
}
.sidebar-nav-item {
	padding-top: 0;
	padding-bottom: 0;
	> a {
		line-height: 3em;
		white-space: nowrap;
	}
}
a.sidebar-nav-item,
span.sidebar-nav-item {
	line-height: 3em;
}
#sidebar-checkbox:checked ~ .sidebar {
	transform: translateX(14rem);
	@include media-query($on-large) {
		// transform: unset;
	}
}
#sidebar-checkbox:checked ~ .wrap {
	@include media-query($on-large) {
		transform: unset;
	}
}

ul {
	&.inline {
		list-style: none;
		@include media-query($on-medium) {
			margin-left: 0;
		}
		> li {
			margin-right: 1em;
			@include media-query($on-medium) {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
	}
}

.post-list {
	> li {
		border-bottom: 1px solid $border-color-01;
	}
	.post-meta {
		margin-bottom: 30px;
	}
}

// post pages

.post-header {
	border-bottom: 1px solid $border-color-01;
}

// TOC
.section-nav {
	margin-left: 0;
	@include media-query($on-large) {
		margin-left: initial;
	}
	& ul,
	ul {
		margin-left: 0;
	}
}
